.subscription-container {
  > div {
    margin: 10px 0 50px 0;
    h6 {
      margin-bottom: 15px;
    }
  }
  .accordian-summary {
    > div {
      display: flex;
      justify-content: space-between;
    }
    p {
      font-size: 14px;
    }
  }
  .accordian-body {
    overflow: auto;
    display: flex;
    justify-content: space-between;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
}