@import url('bootstrap/dist/css/bootstrap.min.css');

.rc-notification-app {
  .container {
    position: relative;
    top: 60px;
  }

  .rc-button.primary {
    display: inline-block;
    font-size: 15px;
    color: white;
    background-color: #ff8800;
    padding: 6px 10px;
    border: 1px solid #ff8800;
    border-radius: 2px;
    cursor: pointer;
  }
}